<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button routerLink="/" class="btn btn-link">To Home</button>
    </div>
    <div class="info">
        <strong>Autor</strong>
        <small>02.02.2020</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos aut tempore veritatis facilis, quia dolor sed rerum ex culpa pariatur nesciunt reprehenderit similique necessitatibus voluptatum quod voluptas eius cum eos sint. Necessitatibus reiciendis eum sapiente nobis quidem nesciunt eaque eius laboriosam sit enim aliquid culpa, natus atque minus voluptates veritatis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos aut tempore veritatis facilis, quia dolor sed rerum ex culpa pariatur nesciunt reprehenderit similique necessitatibus voluptatum quod voluptas eius cum eos sint. Necessitatibus reiciendis eum sapiente nobis quidem nesciunt eaque eius laboriosam sit enim aliquid culpa, natus atque minus voluptates veritatis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos aut tempore veritatis facilis, quia dolor sed rerum ex culpa pariatur nesciunt reprehenderit similique necessitatibus voluptatum quod voluptas eius cum eos sint. Necessitatibus reiciendis eum sapiente nobis quidem nesciunt eaque eius laboriosam sit enim aliquid culpa, natus atque minus voluptates veritatis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos aut tempore veritatis facilis, quia dolor sed rerum ex culpa pariatur nesciunt reprehenderit similique necessitatibus voluptatum quod voluptas eius cum eos sint. Necessitatibus reiciendis eum sapiente nobis quidem nesciunt eaque eius laboriosam sit enim aliquid culpa, natus atque minus voluptates veritatis!</p>
    </div>
</div>